# ignore db
db.sqlite3

# ignore vscode settings and configs
.vscode/

# ignore env file
.env

# ignore python caches
__pycache__/

# ignore collected static files directory
statics/

# ignored images folder from media
media/
