{% extends 'base.html' %}
<!-- -->
{% load static %}

<!-- Content Block -->
{% block PAGE_CONTENT %}

<div class="pt-5 container-fluid">
  <div class="container-fluid" style="margin-top: 3.5rem">
    <div class="d-flex justify-content-center">
      <h1>Blogs</h1>
    </div>

    <section class="text-center">
      <h4 class="mb-5"><strong>Latest posts</strong></h4>

      <div class="row">
        {% for post in posts %}
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
              <img src="{{ post.featured_image.url }}" class="img-fluid" />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15)"
                ></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.excerpt }}</p>
              <a href="#!" class="btn btn-primary">Read</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
  </div>
  {% endblock PAGE_CONTENT %}
</div>
