{% extends 'base.html' %}

<!-- load static -->
{% load static %}

<!-- Content Block -->
{% block PAGE_CONTENT %}
<!-- Blog Post Header start -->
<header>
  <div class="page-header section-height-100">
    {% comment %} Not Visible on Screen Size sm {% endcomment %}

    <div class="
        position-absolute
        border-radius-lg
        border-top-start-radius-0
        border-top-end-radius-0
        border-bottom-end-radius-0
        fixed-top
        ms-auto
        w-50
        h-100
        z-index-0
        d-none d-sm-block
      " style="
        background-image: url('{{ post.featured_image.url }}');
        background-size: cover;
        background-position: center;
      "></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 d-flex justify-content-center flex-column">
          {% comment %} Visible only on Screen size sm {% endcomment %}

          <div class="d-block d-sm-none">
            <img class="
                img-fluid
                mt-7
                border-radius-xl
                border-radius-bottom-end-0
                border-radius-bottom-start-0
                shadow-3
                img-16-9
              " src="{{ post.featured_image.url }}" alt="" />
            <div class="
                card card-body
                border-radius-top-end-0 border-radius-top-start-0
                shadow-3
              ">
              <h1 class="text-gradient text-primary mb-4">{{ post.title }}</h1>
              <p class="lead pe-sm-5 me-sm-5">{{ post.post_tagline }}</p>
              <div class="mt-3 h6">
                By
                <span class="text-gradient text-primary">{{ post.author }}</span>
                on
                <span class="text-gradient text-primary">{{ post.date_posted|date:"j F, Y" }}</span>
              </div>
            </div>
          </div>

          {% comment %} Not Visible on Screen Size sm {% endcomment %}

          <div class="
              card card-body
              blur
              d-flex
              justify-content-center
              px-5
              shadow-lg
              mt-lg-5 mt-3
              py-5
              rellax
              d-none d-sm-block
            ">
            <h1 class="text-gradient text-primary mb-4">{{ post.title }}</h1>
            <p class="lead pe-sm-5 me-sm-5">{{ post.post_tagline }}</p>
            <div class="mt-3 h5">
              By
              <span class="text-gradient text-primary">{{ post.author }}</span>
              on
              <span class="text-gradient text-primary">{{ post.date_posted|date:"j F, Y" }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Blog Post Header End -->

<!-- Post Content Start -->
<section class="py-sm-5 mt-sm-5 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 ms-auto me-auto">{{ post.content|safe }}</div>
    </div>
  </div>
</section>
<!-- Post Content End -->

{% endblock PAGE_CONTENT %}
