{% load static %}

<footer class="bg-tiffany-blue text-center p-3">
  <!-- Social -->
  <div class="d-flex justify-content-center mt-1 mb-2">
    <a
      class="btn btn-dark btn-floating m-1"
      style="background-color: #333"
      href="https://github.com/wrench1815"
      target="_blank"
      ><i class="fab fa-github fa-lg"></i
    ></a>
    <a
      class="btn btn-primary btn-floating shadow-2-strong m-1"
      style="background-color: #4267b2"
      href="https://www.facebook.com/HardeepKumar1815/"
      target="_blank"
      ><i class="fab fa-facebook-f fa-lg"></i
    ></a>
    <a
      class="btn btn-info btn-floating shadow-2-strong m-1"
      style="background-color: #1da1f2"
      href="https://twitter.com/wrench1815"
      target="_blank"
      ><i class="fab fa-twitter fa-lg"></i
    ></a>
    <a
      class="btn btn-danger btn-floating shadow-2-strong m-1"
      style="background-color: #fb3958"
      href="https://instagram.com/wrench1815"
      target="_blank"
      ><i class="fab fa-instagram fa-lg"></i
    ></a>
  </div>
  <!-- Copyright -->
  <div class="text-center">© 2021 Copyright: wrench1815</div>
  <div class="text-center">
    made with <i class="fas fa-heart text-danger"></i> and Django
  </div>
  <!-- Copyright -->
</footer>
