<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-blush-beige custom-nav">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a
      class="navbar-brand text-danger text-english-voilet"
      href="{% url 'home' %}"
      >Wrench-log</a
    >

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link text-english-voilet"
            aria-current="page"
            href="{% url 'home' %}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-english-voilet" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-english-voilet" href="{% url 'contactMe' %}"
            >Contact</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-english-voilet" href="{% url 'about' %}"
            >About</a
          >
        </li>
      </ul>
      <!-- Left links -->

      <!-- Search form -->
      <!--<form class="d-flex input-group w-auto">
              <input
                type="search"
                class="form-control"
                placeholder="Type query"
                aria-label="Search"
              />-->
      <button
        class="btn btn-outline-primary me-3 button-ultra-red"
        type="button"
        data-mdb-ripple-color="dark"
      >
        login
      </button>
      <!--</form>-->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
