{% extends 'base.html' %}

<!-- Content Block -->
{% block PAGE_CONTENT %}
<div class="pt-5 container-fluid">
  <div class="container-fluid" style="margin-top: 3.5rem">
    <h1 class="text-center">About</h1>
    <p>
      This is a Personal Website i Created to ... idk to keep track of my
      project? and showcase it in case someone stumbles on? maybe.
    </p>
    <p>Anyways, myself wrench1815, an alias that i use on Internet.</p>
    <ul>
      <li>I Love Coding.</li>
      <li>I love bringing my wild Imaginations into reality.</li>
    </ul>
    <p>
      I mostly code in Python. Why? cuz why not? The fast i can work, The better
      it is. Aside from Python I also know C#, C/C++ and a little bit of JS.
    </p>
  </div>
</div>
{% endblock PAGE_CONTENT %}
