{% extends 'base.html' %}

<!-- Content Block -->
{% block PAGE_CONTENT %}
<div class="pt-5 container-fluid">
  <div class="container-fluid" style="margin-top: 3.5rem">
    <h1 class="text-center">Contact</h1>
    <lottie-player
      class="ms-auto w-responsive"
      src="https://assets10.lottiefiles.com/packages/lf20_9z81Gg.json"
      background="transparent"
      speed="0"
      loop
      autoplay
    ></lottie-player>
    <p>
      Wanna Connect? Want me to make a website like this for you too? Connect
      with me ASAP!
    </p>
    <h4>Socials</h4>
    <div
      class="d-flex flex-wrap align-items-start justify-content-center justify-content-lg-start"
    >
      <a class="btn btn-outline-primary button-ultra-red m-1" href="#!"
        >Facebook</a
      >
      <a class="btn btn-outline-primary button-ultra-red m-1" href="#!"
        >Twitter</a
      >
      <a class="btn btn-outline-primary button-ultra-red m-1" href="#!"
        >Instagram</a
      >
      <a class="btn btn-outline-primary button-ultra-red m-1" href="#!"
        >Discord</a
      >
    </div>
  </div>
</div>
{% endblock PAGE_CONTENT %}
