{% extends 'base.html' %}

<!-- Content Block -->
{% block PAGE_CONTENT %}

<div
  class="p-5 bg-black bg-image"
  style="
    background-image: url('https://source.unsplash.com/600x400/?coding');
    height: 100vh;
  "
>
  <div
    class="h-100"
    style="background-color: rgba(255, 255, 255, 0.4); border-radius: 16px"
  >
    <h1 class="text-center">Home</h1>
  </div>
</div>
<div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, vitae
  aspernatur illo consectetur sapiente ad perspiciatis quidem maxime deserunt
  iure qui modi quas, a non! Dolorum laudantium a alias consequuntur!
</div>
{% endblock PAGE_CONTENT %}
<!-- style="background-image: url('https://source.unsplash.com/600x400/?code')" -->
