{% extends 'base.html' %}
<!-- -->
{% load static %}

<!-- Content Block -->
{% block PAGE_CONTENT %}

<div class="pt-5 container-fluid">
  <div class="container-fluid" style="margin-top: 3.5rem">
    <div class="d-flex justify-content-center">
      <lottie-player
        class="ms-auto w-responsive"
        src="https://assets4.lottiefiles.com/packages/lf20_OmysYw.json"
        background="transparent"
        speed="0"
        loop
        autoplay
      ></lottie-player>
    </div>
  </div>
</div>
{% endblock PAGE_CONTENT %}
