{% extends 'base.html' %}

<!-- Content Block -->
{% block PAGE_CONTENT %}

<div class="pt-5 container-fluid">
  <div class="container-fluid" style="margin-top: 3.5rem">
    <div class="d-flex justify-content-center">
      <lottie-player
        class="ms-auto w-responsive"
        src="https://assets4.lottiefiles.com/packages/lf20_OmysYw.json"
        background="transparent"
        speed="1"
        loop
        autoplay
      ></lottie-player>
    </div>
    <h1 class="text-center">Welcome Traveller!</h1>
  </div>
</div>
{% endblock PAGE_CONTENT %}
<!-- style="background-image: url('https://source.unsplash.com/600x400/?code')" -->
