/* Glassmorphism */
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.glassmorphism-no-shadow {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.171);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.glassmorphism-no-shadow:hover {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Custom Colors */
/* 
  ? Names
  * Baby Powder: #fdfffc
  * Rich Black FOGRA 29: #011627
  * Tiffany Blue: #2ec4b6
  * Rose Madder: #e71d36
  * Orange Peel: #ff9f1c

*/

:root {
  --baby-powder: #fdfffc;
  --fogra: #011627;
  --tiffany-blue: #2ec4b6;
  --rose-madder: #e71d36;
  --orange-peel: #ff9f1c;
}

/* Custom Colors bg */
.bg-baby-powder {
  background-color: var(--baby-powder) !important;
}

.bg-fogra {
  background-color: var(--fogra) !important;
}

.bg-tiffany-blue {
  background-color: var(--tiffany-blue) !important;
}

.bg-rose-madder {
  background-color: var(--rose-madder) !important;
}

.bg-orange-peel {
  background-color: var(--orange-peel) !important;
}

/* Custom Colors Text */
.text-baby-powder {
  color: var(--baby-powder) !important;
}

.text-fogra {
  color: var(--fogra) !important;
}

.text-tiffany-blue {
  color: var(--tiffany-blue) !important;
}

.text-rose-madder {
  color: var(--rose-madder) !important;
}

.text-orange-peel {
  color: var(--orange-peel) !important;
}

/* Custom Colors Buttons */
.button-baby-powder {
  color: var(--baby-powder) !important;
  border-color: var(--baby-powder) !important;
}

.button-fogra {
  color: var(--fogra) !important;
  border-color: var(--fogra) !important;
}

.button-tiffany-blue {
  color: var(--tiffany-blue) !important;
  border-color: var(--tiffany-blue) !important;
}

.button-rose-madder {
  color: var(--rose-madder) !important;
  border-color: var(--rose-madder) !important;
}

.button-orange-peel {
  color: var(--orange-peel) !important;
  border-color: var(--orange-peel) !important;
}

/* Custom Navbar */
.custom-nav {
  border-radius: 0.5rem 1rem;
  border: 0.2rem solid var(--tiffany-blue);
}
