/* Glassmorphism */
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.glassmorphism-no-shadow {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.171);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.glassmorphism-no-shadow:hover {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Custom Colors */
/* 
  ? Names
  * Blush Beige: #edd5c7 
  * Pastel Pink: #f2ad9a
  * English Voilet: #54395b
  * Ultra Red: #f66d83

*/

:root {
  --blush-beige: #edd5c7;
  --pastel-pink: #f2ad9a;
  --english-voilet: #54395b;
  --ultra-red: #f66d83;
}

/* Custom Colors bg */
.bg-blush-beige {
  background-color: var(--blush-beige) !important;
}

.bg-pastel-pink {
  background-color: var(--pastel-pink) !important;
}

.bg-english-voilet {
  background-color: var(--english-voilet) !important;
}

.bg-ultra-red {
  background-color: var(--ultra-red) !important;
}

/* Custom Colors Text */
.text-blush-beige {
  color: var(--blush-beige) !important;
}

.text-pastel-pink {
  color: var(--pastel-pink) !important;
}

.text-english-voilet {
  color: var(--english-voilet) !important;
}

.text-ultra-red {
  color: var(--ultra-red) !important;
}

/* Custom Colors Buttons */
.button-blush-beige {
  color: var(--blush-beige) !important;
  border-color: var(--blush-beige) !important;
}

.button-pastel-pink {
  color: var(--pastel-pink) !important;
  border-color: var(--pastel-pink) !important;
}

.button-english-voilet {
  color: var(--english-voilet) !important;
  border-color: var(--english-voilet) !important;
}

.button-ultra-red {
  color: var(--ultra-red) !important;
  border-color: var(--ultra-red) !important;
}

/* Custom Navbar */
.custom-nav {
  border-radius: 0.5rem 1rem;
  border: 0.2rem solid var(--pastel-pink);
}
