{% load static %}
<!-- ******************************************
*  Author : Hardeep Kumar   
*  Created On : Fri Feb 05 2021
*  File : base.html
******************************************* -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Hardeep Kumar" />
    <meta name="viewport" content="width=device-width" ,initial-scale="1" />

    {% include 'includes/stylesheets.html' %}

    <title>wrench-log</title>
  </head>

  <body class="bg-baby-powder">
    <div class="container mt-4 fixed-top">
      {% include 'includes/navbar.html' %}
    </div>
    <!-- <div class="container-fluid mt-5 pt-5"> -->
    {% block PAGE_CONTENT %} {% endblock PAGE_CONTENT %}

    <!-- Footer -->
    {% include 'includes/footer.html' %}

    <!-- Footer -->

    <!-- Scripts -->
    {% include 'includes/scripts.html' %}
  </body>
</html>
