{% load static %}
<!-- ******************************************
*  Author : wrench1815   
*  Created On : Fri Feb 05 2021
*  File : base.html
******************************************* -->

<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Hardeep Kumar" />
    <link
      rel="shortcut icon"
      href="{% static 'favicon.ico' %}"
      type="image/x-icon"
    />

    {% include 'includes/stylesheets.html' %}

    <title>wrench-log</title>
  </head>

  <body>
    <!-- navbar -->
    {% include 'includes/navbar.html' %}

    <!-- alerts -->
    {% include 'includes/alerts.html' %}

    <!-- Main Content -->
    {% block PAGE_CONTENT %} {% endblock PAGE_CONTENT %}

    <!-- Footer -->
    {% include 'includes/footer.html' %}

    <!-- Footer -->

    <!-- Scripts -->
    {% include 'includes/scripts.html' %}
  </body>
</html>
